body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #020024;
    background: linear-gradient(180deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background-size: 400% 400%;
    animation: bgAnim 1s linear infinite;
    color: #000;
}

@keyframes bgAnim {
    0% { background-position: 0% 50%; 
    color: rgb(255, 255, 255);}
    50% { background-position: 75% 50%; 
    color: white}
    100% { background-position: 0% 50%; 
    color: rgb(255, 255, 255)}
}

header {
    background: linear-gradient(.25turn, #3e3e3e, #2c2c2c);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    background: linear-gradient(to right, #5c4422, #3e2c1c);
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

nav a {
    color: #f5f5dc;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #a7c957;
}

section {
    padding: 80px 20px 20px; /* padding-top compensé pour le header fixe */
}

.container {
    width: 80%;
    margin: 0 auto;
}

.projects, .skills, .contact {
    margin-top: 30px;
    
    p,h3{
        color: black;
    }
}

.project, .skill, .contact-info {
    background: linear-gradient(to right, #f0efeb, #d4d2cd);
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(34, 34, 34, 0.3);
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.project:hover, .skill:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.project, details{
    
    background-repeat: no-repeat;
    background-size:100% 100% ;
}

footer {
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}
a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
}

details.project {
    cursor: pointer;
    margin-bottom: 1em;
}

details.project[open] {
    background-color: #ecebe8;
}

details.project summary {
    list-style: none;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

details.project summary h3 {
    display: inline;
}

details.project summary::-webkit-details-marker {
    display: none;
}

details.project:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}
